{% extends 'private-space/layout.html.twig' %}

{% block title %} {{parent()}} {% endblock %}

{# {% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/png" href="/images/panda-feroce2.png"> 
{% endblock %} #}

{% block body %}
{{parent()}} 

<section class="container-bestiary">
    <h2> Bestiaire </h2>
    <div class="container-row-reverse">

    {% for monstre in app.user.monstre %} 
        <article class="container-monster">
            <h5> {{ monstre.nom }}</h5> 
             {# ECHO STATS DES MONSTRES dans le pop-up #}
             <p> Classe : {{ monstre.classe.nom }} <span> 
                    {{ monstre.classe.pv }} PV </br>
                    {{ monstre.classe.mp }} MP </br> 
                Force : {{ monstre.classe.puissance }} </br> 
                Defense : {{ monstre.classe.defense }}</br> 
                Vitesse : {{ monstre.classe.vitesse }}
                </span></p>
            <img src={{ monstre.photo }} class="glowing-img" width="150px" height="150px" alt="image du monstre"/>
        </article>  
    {# </main>   #}
    {% endfor %}

    </div>
</section>
{% endblock %}


       


