{% extends 'private-space/layout.html.twig' %}

{% block title %} {{parent()}} {% endblock %}

{% block body %}
{{parent()}} 
<section class="container-bestiary">
    <h2> Bestiaire </h2>
    <div class="container-row-reverse">
{# Monsters data #}
    {% for monstre in app.user.monstre %}
        {# 1 monster = un article container-monster #}
        <article class="container-monster">
            {# Spécificité de monstre : si Shiva affiche le coeur sur son nom #}
            {% if (monstre.id == 14) %}
                <h5> {{ monstre.nom }} ❤ </h5>     
            {% else %}
                <h5> {{ monstre.nom }}</h5> 
            {% endif %}
            {# column pour agencement (centrage de tous les block infos) #}
            <div class="container-column" width="100%">
                {# STATS DES MONSTRES dans le pop-up #}
                <div class="popover popover-bottom">
                    <button class="btn-hover">  {{ monstre.race.nom}} </button>
                    {# PAS de <p> bug de pop up #}
                    {{ monstre.description }}
                    <div class="popover-container">
                        <div class="card container-pop-up">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <h2> {{ monstre.classe.nom }}  </h2>
                                <ul>
                                    <li> PV : {{ monstre.classe.pv }} </li>
                                    <li> MP : {{ monstre.classe.mp }} </li>
                                    <li> Force : {{ monstre.classe.puissance }} </li>
                                    <li>  </li>
                                    <li> Defense : {{ monstre.classe.defense }} </li>
                                    <li>  Vitesse : {{ monstre.classe.vitesse }} </li>
                                    <li>  </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {# Image monstre #}
                <div class="img-monster">
                    <img src={{ monstre.photo }} class="glowing-img" width="200px" height="200px" alt="image du monstre"/>
                </div> 
{# ATTAQUES #}
                {# <div class="img-monster">
                    {% for attaque in monstre.attaque %}
                        {{ attaque.nom }}
                    {% endfor %}
                </div>  #}
{# ELEMENTS #}
                {# <hr width="100%"> #}
                <div class="container-row">
                    {% for element in monstre.element %}
                        <img src={{ element.image }} class="glowing-img" width="40px" height="40px" title="{{ element.nom }}" alt="image de l'element {{ element.nom }}"/>
                    {% endfor %}
                </div> 
               
            {# CLOSE container-column #}
            </div>

             {# <p> Classe : {{ monstre.classe.nom }} <span> 
                    {{ monstre.classe.pv }} PV </br>
                    {{ monstre.classe.mp }} MP </br> 
                Force : {{ monstre.classe.puissance }} </br> 
                Defense : {{ monstre.classe.defense }}</br> 
                Vitesse : {{ monstre.classe.vitesse }}
                </span></p>
            <img src={{ monstre.photo }} class="glowing-img" width="150px" height="150px" alt="image du monstre"/> #}
        </article>  
    {# </main>   #}
    {% endfor %}

    </div>
</section>
{% endblock %}


       


