{% extends 'private-space/layout.html.twig' %}

{% block title %}
{{parent()}}
{% endblock %}

{% block body %}
{{parent()}}
<main class="container-main">
	{# Container flex #}

	{% if (is_granted('ROLE_ADMIN')) %}

	<div class="container-absolute">
			<div class="popover popover-bottom">
					<button class="btn s-circle btn-primary"> Admin </button>
					<div class="popover-container">
						<div class="card container-task">
							<div class="card-header">
							</div>
							<div class="card-body">

									{# <div class="container-column"> #}
											<div class="container-task">
													<h5> <a href="{{ path('home_admin') }}"> Publier un nouvel évènement </a>   </h5>
													<a href="{{ path('add_news') }}"> <button class="btn btn-primary"> News </button> </a>
													<p> [ liste déroulante de mes événements ]</p>
											</div> 
											<div class="container-task">
													<h5> <a href="{{ path('home_admin') }}"> Proposer un nouveau monstre </a></h5>
													<a href="{{ path('edit_monster') }}"> <button class="btn btn-success"> Edit </button> </a> 
													<p> [ liste d'affichage des monstres ]</p>
													{# <a href="{{ path('edit_monster') }}"> <button class="btn btn-primary"> Edit </button> </a> 
													<a href="{{ path('edit_monster') }}"> <button class="btn btn-error"> Supprimer </button> </a>  #}
											</div> 
											<div class="container-task">
													<h5> Gestion des rôles  </h5>
													<p> [ Bientot ]</p>
													<p> [ formulaire ]</p>
													<p> [ liste déroulante ]</p>
											</div>
									</div>
								{# </div> #}

							</div>
							<div class="card-footer">
						
							</div>
						</div>
					</div>
				</div>
	{% endif %}
{# </div> #}



	<div class="container-row-reverse">
<!-- INFOS USER -->
		{# OPEN user info section #}
		<section class="container-user-infos">
			<h5> Mon compte </h5>
			<img class="glowing-img shake" src="/images/logos/panda-feroce2.png" width="100px" heigth="100px" alt="avatar utilisateur" />
			<h4> {{ app.user.nom }} </h4>
			<p> Inscrit depuis le : <span style=color:orange;> {{ app.user.date|date('d-m-Y') }} </span></p>
			<p> <span style=color:red;> {{ app.user.argent}} </span> Ruby </p>

			<div class="container-row">
				{# ANIMATE BORDER BOX CONTAINER #}
			<div class="animate-box">
					{# ANIMATE BORDER BOX => display Bestiary button #}
					<a href="{{path('bestiary')}}">
					<div class="animate-box-hidden">
						{# {% for nb in nbMonstre %}
							<p> <span style=color:orange;> {{ nb.monstre }} </span> monstres </p>
							{% endfor %} #}
						<p> <span style=color:orange;> {{ app.user.monstre.count }} </span> monstres </p>
						<button>
						<span>
							<span>
							<span data-attr-span="Bestiaire"> Bestiaire
							</span>
							</span>
						</span>
						</button>
					</div>
					</a>
				</div>
				{# ANIMATE BORDER BOX => display Inventory button #}
				<div class="animate-box">
					<a href="{{path('inventory')}}">
					<div class="animate-box-hidden">
						<p> <span style=color:orange;> {{ app.user.accessoire.count }} </span> accessoires </p>
						<button>
						<span>
							<span>
							<span data-attr-span="Inventaire"> Inventaire
							</span>
							</span>
						</span>
						</button>
					</div>
					</a>
				</div>
			</div>
		{# CLOSE user info section #}
		</section>

<!-- OUVERTURE CONTAINER DES JEUX  -->
    <section class="container-games">
		{# Si aucun jeu acheter #}
		<h5> Mes Jeux </h5>
		{% if (app.user.jeux.count == '0' ) %}
			<p> Aucun jeux disponibles </p>
			<div class="animate-box">
				<a href="{{ path('shop') }}">  
					<div class="animate-box-hidden">
						<p> <span style=color:orange;> <img class="glowing-img" src="/images/logos/red-panda-sad.png" width="100px" height="100px" alt="photo d'un panda triste, car aucun jeux n'est disponible !"/> </span>  </p>
						<button >
							<span>
								<span>
									<span data-attr-span="Go boutique"> Acheter des jeux 
											
									</span>
								</span>
							</span>
						</button>
					</div>
				</a>
			</div>
		{% endif %}
<!-- LISTE DES JEUX -->
	  <div class="games-list">
			<ul>
				{% for jeux in app.user.jeux %}
					{% if (jeux.id == '1') %}
						<li> <button class="btn btn-primary btn-lg"> <a href="{{path('home_ppc')}}"> {{ jeux.nom }}</a> </button> </li>
					{% endif %}
					{% if (jeux.id == '2') %}
						<li> <button class="btn btn-primary btn-lg"> <a href="{{path('home_ttt')}}"> {{ jeux.nom }}</a> </button>  
						</br>[Bug a gerer]</li>
					{% endif %}
					{% if (jeux.id == '3') %}
						<li> <button class="btn btn-primary btn-lg"> <a href="{{path('home_bb')}}"> {{ jeux.nom }}</a> </button> 
					{% endif %}
				{% endfor %}
					
			</ul>
	  </div>

	  {# Le main se ferme avec le footer #}
			{# </main> #}
			


{% endblock %}