{% extends 'admin/layout.html.twig' %}
{% block title %} {{parent()}} {% endblock %}
{% block body %} 
{{parent()}}
{# ########################################################################### #}
{#                  FORMULAIRE : Mofidier une news (entité Article)            #}
{# ########################################################################### #}
<header class="container-column container-row-left">
        <h1> home admin board </h1>
   
    <div class="container-column container-row-left subtitle">
        <h1> Modifier news - {{ app.user.nom }} </h1>
    </div>
</header>
    <div class="container-admin">
        <h5> Modifier un évènement  </h5>
        <a href='/admin/'> <button class="btn btn-error">  Retour </button> </a>
        <div class="container-row">
            {# <div class="container-form">  #}
            {{ form_start(newsForm, {'attr': {'class': 'container-form'}} ) }}
            {{ form_label(newsForm.nom) }}
            {{ form_widget(newsForm.nom) }}
            {{ form_errors(newsForm.nom) }}

            {{ form_label(newsForm.contenu) }}
            {{ form_widget(newsForm.contenu) }}
            {{ form_errors(newsForm.contenu) }}

            {{ form_label(newsForm.auteur) }}
            {{ form_widget(newsForm.auteur) }}
            {{ form_errors(newsForm.auteur) }}


            <input class="btn btn-success" type="submit" value="Publiez !">
            {{ form_end(newsForm) }}
        </div>
    </div>
    {# </div> #}
{% endblock %}