{% extends 'shop/layout.html.twig' %}
{% block title %} {{parent()}} {% endblock %}

{% block body %}
    {{parent()}}
 
<!-- POP UP ACHAT -->
    {# Messages flash #}
    {% for message in app.session.flashBag.get('success') %}
        {# Modal pop-up confirmation d'achat #}
        <div class="modal active modal-sm" id="modal-id">
            <div class="modal-container">
                <div class="modal-header">
                    <a href="{{path('shop')}}" class="btn btn-clear float-right" aria-label="Close"></a>
                    <div class="modal-title h5"> Merci pour votre achat !</div>
                    <p> Cet article a bien été ajouté a votre bestiaire </p>
                </div>
            </div>
          </div>
    {% endfor %}
    {# FAIL #}
    {% for message in app.session.flashBag.get('fail') %}
        <div class="modal active modal-sm" id="modal-id">
            <div class="modal-container">
                <div class="modal-header">
                    <a href="{{path('shop')}}" class="btn btn-clear float-right" aria-label="Close"></a>
                    <div class="modal-title h5"> Pas assez de thunes boloss !</div>
                </div>
            </div>
          </div>
    {% endfor %}

<!-- ACHAT JEUX -->
    <div class="container-bestiary">
        <h2> Mini-jeux </h2>
        <section class="container-row-reverse">
            {% for jeu in jeux %}
                {# Si l'utilisateur possede deja le jeu rien ne s'affiche, sinon#}
                {% if jeu in app.user.jeux %}
                    {# <p> Plus aucun jeux en réserve !</p>  #}
                    {% else %}
                        <article class="game-shop">
                            <h5> {{ jeu.nom }} </h5> 
                                <div class="animate-box">
                                    <a href="{{ path('buy_game', {'id':jeu.id}) }}">  
                                        <div class="animate-box-hidden">
                                            {% if jeu.tarif.prix == 0 %}
                                                <p class="glowing">  GRATUIT  </p>
                                            {% else %}
                                                <p style=color:orange;>  {{ jeu.tarif.prix }} ruby </p>
                                            {% endif %}
                                            <button>
                                                <span>
                                                    <span>
                                                        <span  data-attr-span="J'achete !">  Acheter
                                                        </span>
                                                    </span>
                                                </span>
                                            </button>
                                        </div>
                                    </a>
                                </div>
                           
                        </article>
                    {% endif %}
                {% endfor %}    
            </section>
    </div>

    

<!-- ACHAT MONSTRES -->
    {# Ouverture container #}
    <section class="container-bestiary">
        <h2> Élevage monstrueux </h2>
        <div class="container-row-reverse">
            {# Pour chaque monstre de l'entité Monstre, affiche #}
            {% for monstre in monstres %}
                {# Si l'utilisateur possede deja le monstre rien ne s'affiche, sinon #}
                {% if monstre in app.user.monstre %} 
                {% else %}
    
    
                <article class="container-monster">
                    {% if (monstre.id == 14) %}
                        <h5> {{ monstre.nom }} ❤ </h5>     
                    {% else %}
                        <h5> {{ monstre.nom }}</h5> 
                    {% endif %}
                     {# ECHO STATS DES MONSTRES dans le pop-up #}
                    <div class="container-column" width="100%">
                        <div class="popover popover-bottom">
                            <button class="btn-hover">  {{ monstre.race.nom}} </button>
                            {# PAS de <p> bug de pop up #}
                            {{ monstre.description }}
                            <div class="popover-container">
                                <div class="card container-pop-up">
                                    <div class="card-header"></div>
                                    <div class="card-body">
                                        <h2> {{ monstre.classe.nom }}  </h2>
                                        <ul>
                                            <li> PV :  {{ monstre.classe.pv }} </li>
                                            <li> MP : {{ monstre.classe.mp }}  </li>
                                            <li> Force : {{ monstre.classe.puissance }} </li>
                                            <li>  </li>
                                            <li> Defense : {{ monstre.classe.defense }} </li>
                                            <li>  Vitesse : {{ monstre.classe.vitesse }} </li>
                                            <li>  </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="">
                            <img src={{ monstre.photo }} class="glowing-img" width="200px" height="200px" alt="image du monstre"/>
                        </div> 
                        <div class="container-row">
                            {% for element in monstre.element %}
                                <img src={{ element.image }} class="glowing-img" width="40px" height="40px" title="{{ element.nom }}" alt="image de l'element {{ element.nom }}"/>
                            {% endfor %}
                        </div> 
                            <div>
                                <div class="animate-box">
                                    <a href="{{ path('buy_monster', {'id':monstre.id}) }}">  
                                        <div class="animate-box-hidden">
                                            <p style=color:orange;>  {{ monstre.tarif.prix }} ruby </p>
                                            <button>
                                                <span>
                                                    <span>
                                                        <span  data-attr-span="J'achete !">  Acheter
                                                        </span>
                                                    </span>
                                                </span>
                                            </button>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        
                           
                       
                       
                    </div>
            </article>
                {% endif %}
            {% endfor %}
            </div>
        </section>

    </main>

{% endblock %}