{% extends 'private-space/games/layout.html.twig' %}

{% block title %} 
    {{parent()}} 
{% endblock %}


{% block javascripts %}
    <script src="/assets/js/bb.js" />
    {# appel JQuery #}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
   {# appel fosjsrouting #}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    <script> var url = '{{ path("win-bb") }}'; </script>
{% endblock %}

{% block body %}
    {{parent()}}
    <h5> Broken Brick </h5>
    {# {% if (win  is defined) %}
    <p> {{ message }} </p>
    {% endif %} #}
    <canvas id="bb" width="460" height="320"></canvas>
    <div>
        <button class="btn btn-error"> <a href="{{ path('home-private') }}"> Retour </a> </button>
    </div>

{% endblock %}